<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f7f6;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            color: #333;
            margin-top: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }

        label {
            font-size: 18px;
            margin-bottom: 10px;
        }

        input[type="text"] {
            width: 80%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #45a049;
        }

        p {
            text-align: center;
            font-size: 16px;
            color: #333;
            margin-top: 20px;
        }

        ul {
            margin-top: 30px;
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #fff;
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

    </style>
</head>
<body>
    
    <h1>Url Shortener</h1>
    <form action="/url" method="post">
        <label>Enter your Original URL</label>
        <input type="text" 
        name="url"     
        placeholder="https://example.com">
        <button type="submit">Generate</button>
    </form>
    <% if (locals.newShortId) { %>
        <p>URL Generated: http://localhost:8006/url/<%= newShortId %></p>
    <% } %>
    <ul>
        <% urls.forEach(url => { %>
            <li>Generated Url:<%= url.shortId %></li> 
        <% }); %>
    </ul>
</body>
</html>
